.wrapper{
  min-height: 1604 !important;
}
.section-contact{
  min-height: 853px;
  width: 100%;

.block_1{
  width:75%;
  min-height: 853px;
  margin: 0 auto;
  padding-top: 177px;
  padding-top: 197px;
  @media screen and (max-width: 910px){
    width:93%;
  }
  
}
h4 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0145a), to(#ef8080));
  background-image: linear-gradient(#f0145a, #ef8080);
  font-size: 32px;
  line-height: 38px;
  font-family: 'TT Norms';
  padding: 20px;
  
  
}
.logo_a_1{
  font-size: 21px;
  line-height: 30px;
  color: #46466E;
text-decoration: none;
}
.fecebook-box{


.a_imf_fc{
  font-size: 12px;
line-height: 16px;
letter-spacing: 1px;
text-transform: uppercase;
color: #24A3FF;
text-decoration: none;
display: flex;
justify-content: start;
align-items: center;


&::before{
content: url(../assets/img/Facebook-3.png);
margin-right: 10px;




}
}
}
.imf_1{
  height: 298px;

}
.a_block_1{
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF; 
  text-decoration: none;
  margin-top: 5px;
  
  
}
.border_imf{
  border-top: 4px solid #E6E6F0;
  padding-top: 40px;
  border-bottom: 4px solid #E6E6F0;
  padding-bottom: 40px;
  height: 160px;

}
.border_imf_1{
width: 60%;
height: 80px;


}
.p_imf_1{
  font-size: 21px;
line-height: 30px;
color: #323264;
margin: 0;
}
.box_send{
  height: 576px;
  background: #F5F5FA;
border-radius: 12px;

}
.textarea{
  height: 180px;
}
.span{
  padding-left: 30px;
  font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
}
.inm_content_1{
  width: 50%;
  
}
.content_1{
  width: 100%;
}
.inm_content_2{
  width: 50%;
  
}
.input{
  width: 90%;
  margin: 0 auto;
  border: none!important;
  font-family: 'TT Norms Thin';
}
.input_1{
  height: 47px;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA !important;
  font-family: 'TT Norms Thin';


}
.form-control{
  border: none!important;
}
.button_1{
  background: #24A3FF;
box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
border-radius: 12px;
padding: 16px 17px;
width: 250px;
height:50px;
margin: 20px;
border: none;
color: #fff;

}
}
.map{
  width: 100%;
}
@media screen and (max-width: 600px){
  .block_1{
    display: flex;
    flex-direction: column;
.inm_content_2{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
  }
}