.nav-box{
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  
}
.nav-link{
  text-align: end;
}
.nav_nav{
  display: flex;
  flex-direction: column;
}
.span_nav-tabs_1{
  display: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: transparent;    
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
  background-color: rgba($color: #000000, $alpha: 0);

}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0;
  border-right: 4px solid #E6E6F0;
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
  padding-right: 40px;
}
.nav-pills .nav-link.active {
  color: transparent;    
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
  background-color: rgba($color: #000000, $alpha: 0);
  border-right: 4px solid #F0145A;
}
.tab-content{
  color: white;
  padding-left: 40px;
  p{
    padding-top: 20px;
    font-family: 'TT Norms Thin';
    font-size: 21px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1150px){
  
  .nav-pills .nav-link {
    font-size: 34px;
    line-height: 48px;
    color: #B3B3BA;
    padding-right: 40px;
  }
 
  .tab-content{
    color: white;
    padding-left: 20px;
    p{
      padding-top: 20px;
      font-family: 'TT Norms Thin';
      font-size: 16px;
      line-height: 24px;
    }
  }
}
@media screen and (max-width: 910px){
  
  .nav-pills .nav-link {
    font-size: 30px;
    line-height: 48px;
    color: #B3B3BA;
    padding-right: 40px;
  }
 
  .tab-content{
    width: 60%;
    color: white;
    padding-left: 20px;
    p{
      padding-top: 20px;
      font-family: 'TT Norms Thin';
      font-size: 14px;
      line-height: 16px;
    }
  }
}
@media screen and (max-width: 600px){
  .span_nav-tabs_1{
    display: block;
  }
  .nav-box{
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column-reverse;
  
}
.nav-link{
  text-align: end;
}
.nav{
  display: flex !important;
  flex-direction: row !important;
  align-self: center;
 
}
.span_nav-tabs{
  display: none;
}
.nav-pills .nav-link {
  width: 16px;
  height: 16px;
  background: rgba(47, 73, 131, 1);
  border-radius: 50%;
  border-right: none;
  padding: 5px;
  margin: 7px;
}
.nav-pills .nav-link.active {
  width: 16px;
  height: 16px;
  background: #24A3FF;
  border-radius: 50%;
  border-right: none;
}
.tab-content{
  color: white;
  padding-left: 40px;
  width: 100%;
  p{
    padding-top: 20px;
    font-family: 'TT Norms Thin';
    font-size: 21px;
    line-height: 30px;
  }
}
}
