
.wrapper{

min-height: 2722px !important;

}
.section-experience-services{
  width: 100%;
  min-height: 1166px !important;
  .section-experience-services__background{
    width: 100%;
    min-height: 1146px !important;
    background: url(../assets/img/Bg.png);
    border-radius: 0px 0px 12px 12px;   
    .section-experience-services__content{
      width: 93%;
      margin: 0 auto;
      min-height: 1146px !important;
    }
  }

.servisec-page {
  width: 80%;
  margin: 0 auto ;
  padding-top: 167px;
  background: url(../assets/img/Bg6.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 0px 0px 12px 12px;
  min-height: 1166px;



.box_1{
  min-height: 472px;
  .h3_box {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient( to left, rgba(239, 128, 128, 1), rgba(240, 20, 90, 1));
    font-size: 42px;
    line-height: 50px;
  }
  .box_img {
    background: #FFFFFF;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    text-align: center;
  }
  .p_box{
    font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  
  }
  .btn{
    width: 250px;
    height: 50px;
    background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
line-height: 17px;
  
  }
}
.box_2{
border-top: 4px solid rgba($color: white, $alpha: 0.5);
margin-top: 80px;
padding-top: 20px;
.box-2-span{
  font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.box_2_content{
  display: flex;
  justify-content: space-between;
.content_box_2_1{
  margin-top: 20px;
  width: 45%;

.p_box_2{
  color: white;
  font-size: 18px;
line-height: 26px;
&::before{
  content: "";
display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #F0145A;
  margin: 2px 5px;
}
}
}
.content_box_2_2{
  margin-top: 20px;
  width: 45%;
.p_box_2{
  color: white;
  font-size: 18px;
line-height: 26px;
&::before{
  content: "";
display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #F0145A;
  margin: 2px 5px;
}
}
}
}
}
}
}
.imf_1{
  height: 298px;

}
.a_block_1{
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF; 
  text-decoration: none;
  margin-top: 5px;
  
  
}
.border_imf{
  border-top: 4px solid #E6E6F0;
  padding-top: 40px;
  border-bottom: 4px solid #E6E6F0;
  padding-bottom: 40px;
  height: 160px;

}
.border_imf_1{
width: 60%;
height: 80px;


}
.p_imf_1{
  font-size: 21px;
line-height: 30px;
color: #323264;
margin: 0;
}
.box_send{
  height: 576px;
  background: #F5F5FA;
border-radius: 12px;

}
.textarea{
  height: 180px;
}
.span{
  padding-left: 30px;
  font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #B3B3BA;
}
.inm_content_1{
  width: 50%;
  
}
.content_1{
  width: 100%;
}
.inm_content_2{
  width: 90%;
  
}
.input{
  width: 90%;
  margin: 0 auto;
  border: none!important;
  font-family: 'TT Norms Thin';
}
.input_1{
  height: 47px;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA !important;
  font-family: 'TT Norms Thin';


}
.form-control{
  border: none!important;
}
.button_1{
  background: #24A3FF;
box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
border-radius: 12px;
padding: 16px 17px;
width: 250px;
height:50px;
margin: 20px;
border: none;
color: #fff;

}

.map{
  width: 100%;
}
h4 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0145a), to(#ef8080));
  background-image: linear-gradient(#f0145a, #ef8080);
  font-size: 32px;
  line-height: 38px;
  font-family: 'TT Norms';
  padding: 20px;
  
  
}
// @media screen and (max-width: 600px){
//   .block_1{
//     display: flex;
//     flex-direction: column;
// .inm_content_2{
//   width: 100%;
//   padding-top: 40px;
//   padding-bottom: 40px;
  
// }
//   }
// }
.box-img_1{
  width: 94px;
  height: 94px;
  background: white;
  border-radius: 24px;
  background-image: url(../assets/img/icon-shopping.png) ;
  background-position: center;
  background-repeat: no-repeat;
  
}
@media screen and (max-width: 680px){
.box_1{
  align-items: start;
.p_box{
  text-align: start !important;
}
}
.box_2_content{
  display: flex;
  flex-direction: column;
  .content_box_2_1{
  width: 100% !important;
}
.content_box_2_2{
  width: 100% !important;
}
}
}